@font-face {
  font-family: neon;
  src: url("../resources/neon/Neon.ttf");
}

.wrapper {
  margin-top: 30vh;
  margin-bottom: 20vh;
  height: 20vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: neon;
  font-size: 12rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  margin: 0;
  padding: 0;
}

h1 span {
  display: table-cell;
  margin: 0;
  padding: 0;
  background: transparent;
}

.h1one span,
.h1two span {
  animation-delay: 0s;
  color: #fff;
  filter: blur(1px);
  /* text-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 20px #00b3ff,
    0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 100px #00b3ff, 0 0 200px #00b3ff,
    0 0 300px #00b3ff, 0 0 400px #00b3ff; */
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}

.h1two span:nth-child(6) {
  animation-delay: 1s;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
  5%,
  95% {
    color: #fff;
    filter: blur(1px);
    /* text-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 20px #00b3ff,
    0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 100px #00b3ff, 0 0 200px #00b3ff,
    0 0 300px #00b3ff, 0 0 400px #00b3ff; */
    text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
      0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 30vh;
  }
  h1 {
    font-size: 5.5rem;
  }
  .wrapper {
    height: 10vh;
    margin-top: 5vh;
  }
  .section-1 {
    margin-top: 1vh;
  }
  .awesome-slider {
    z-index: -5;
  }
}
